<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Traffic Ease Signal Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.ico">

    <!-- App css -->
    <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/app.min.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->


    {% include 'user/header.html' %}


    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->

    <!-- ========== Left Sidebar Start ========== -->


    {% include 'user/menu.html' %}


    <!-- Left Sidebar End -->

    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">TEST</a>
                                    </li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            <h4 class="page-title">User Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card-box tilebox-one">
                            <i class="fe-box float-right"></i>
                            <h5 class="text-muted text-uppercase mb-3 mt-0">Orders</h5>
                            <h3 class="mb-3" data-plugin="counterup">1,587</h3>
                            <span class="badge badge-primary"> +11% </span> <span
                                class="text-muted ml-2 vertical-middle">From previous period</span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card-box tilebox-one">
                            <i class="fe-layers float-right"></i>
                            <h5 class="text-muted text-uppercase mb-3 mt-0">Revenue</h5>
                            <h3 class="mb-3">$<span data-plugin="counterup">46,782</span></h3>
                            <span class="badge badge-primary"> -29% </span> <span
                                class="text-muted ml-2 vertical-middle">From previous period</span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card-box tilebox-one">
                            <i class="fe-tag float-right"></i>
                            <h5 class="text-muted text-uppercase mb-3 mt-0">Average Price</h5>
                            <h3 class="mb-3">$<span data-plugin="counterup">15.9</span></h3>
                            <span class="badge badge-primary"> 0% </span> <span class="text-muted ml-2 vertical-middle">From previous period</span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card-box tilebox-one">
                            <i class="fe-briefcase float-right"></i>
                            <h5 class="text-muted text-uppercase mb-3 mt-0">Product Sold</h5>
                            <h3 class="mb-3" data-plugin="counterup">1,890</h3>
                            <span class="badge badge-primary"> +89% </span> <span
                                class="text-muted ml-2 vertical-middle">Last year</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-7">
                        <div class="card-box">
                            <h4 class="header-title">Transactions History</h4>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center mt-3">
                                        <h6 class="font-normal text-muted font-14">Conversion Rate</h6>
                                        <h6 class="font-18"><i
                                                class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i> <span
                                                class="text-dark">1.78%</span>
                                            <small></small>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center mt-3">
                                        <h6 class="font-normal text-muted font-14">Average Order Value</h6>
                                        <h6 class="font-18"><i
                                                class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i> <span
                                                class="text-dark">25.87</span>
                                            <small>USD</small>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center mt-3">
                                        <h6 class="font-normal text-muted font-14">Total Wallet Balance</h6>
                                        <h6 class="font-18"><i
                                                class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i> <span
                                                class="text-dark">87,4517</span>
                                            <small>USD</small>
                                        </h6>
                                    </div>
                                </div>
                            </div>

                            <canvas id="transactions-chart" height="350" class="mt-4"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="card-box">
                            <h4 class="header-title">Sales History</h4>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center mt-3">
                                        <h6 class="font-normal text-muted font-14">Conversion Rate</h6>
                                        <h6 class="font-18"><i
                                                class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i> <span
                                                class="text-dark">3.94%</span>
                                            <small></small>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center mt-3">
                                        <h6 class="font-normal text-muted font-14">Average Sales</h6>
                                        <h6 class="font-18"><i
                                                class="mdi mdi-arrow-down-bold-hexagon-outline text-danger"></i> <span
                                                class="text-dark">16.25</span>
                                            <small>USD</small>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center mt-3">
                                        <h6 class="font-normal text-muted font-14">Total Sales</h6>
                                        <h6 class="font-18"><i
                                                class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i> <span
                                                class="text-dark">124,858.67</span>
                                            <small>USD</small>
                                        </h6>
                                    </div>
                                </div>
                            </div>

                            <canvas id="sales-history" height="350" class="mt-4"></canvas>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title mb-3">Messages</h4>

                            <div class="inbox-widget slimscroll" style="max-height: 370px;">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img
                                                src="../../static/adminResources/images/avatar-1.jpg"
                                                class="rounded-circle bx-shadow-lg" alt=""></div>
                                        <p class="inbox-item-author">Chadengle</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">13:40 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img
                                                src="../../static/adminResources/images/avatar-2.jpg"
                                                class="rounded-circle bx-shadow-lg" alt=""></div>
                                        <p class="inbox-item-author">Tomaslau</p>
                                        <p class="inbox-item-text">I've finished it! See you so...</p>
                                        <p class="inbox-item-date">13:34 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img
                                                src="../../static/adminResources/images/avatar-3.jpg"
                                                class="rounded-circle bx-shadow-lg" alt=""></div>
                                        <p class="inbox-item-author">Stillnotdavid</p>
                                        <p class="inbox-item-text">This theme is awesome!</p>
                                        <p class="inbox-item-date">13:17 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img
                                                src="../../static/adminResources/images/avatar-4.jpg"
                                                class="rounded-circle bx-shadow-lg" alt=""></div>
                                        <p class="inbox-item-author">Kurafire</p>
                                        <p class="inbox-item-text">Nice to meet you</p>
                                        <p class="inbox-item-date">12:20 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img
                                                src="../../static/adminResources/images/avatar-5.jpg"
                                                class="rounded-circle bx-shadow-lg" alt=""></div>
                                        <p class="inbox-item-author">Shahedk</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">10:15 AM</p>
                                    </div>
                                </a>
                                <!--  <a href="#">
                                     <div class="inbox-item">
                                         <div class="inbox-item-img"><img src="adminResources/images/avatar-6.jpg" class="rounded-circle bx-shadow-lg" alt=""></div>
                                         <p class="inbox-item-author">Adhamdannaway</p>
                                         <p class="inbox-item-text">This theme is awesome!</p>
                                         <p class="inbox-item-date">9:56 AM</p>
                                     </div>
                                 </a>
                                 <a href="#">
                                     <div class="inbox-item">
                                         <div class="inbox-item-img"><img src="adminResources/images/avatar-8.jpg" class="rounded-circle bx-shadow-lg" alt=""></div>
                                         <p class="inbox-item-author">Arashasghari</p>
                                         <p class="inbox-item-text">Hey! there I'm available...</p>
                                         <p class="inbox-item-date">10:15 AM</p>
                                     </div>
                                 </a>
                                 <a href="#">
                                     <div class="inbox-item">
                                         <div class="inbox-item-img"><img src="adminResources/images/avatar-9.jpg" class="rounded-circle bx-shadow-lg" alt=""></div>
                                         <p class="inbox-item-author">Joshaustin</p>
                                         <p class="inbox-item-text">I've finished it! See you so...</p>
                                         <p class="inbox-item-date">9:56 AM</p>
                                  </a>
                                     </div> -->

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title mb-3">Latest Comments</h4>

                            <div class="comment-list slimscroll" style="max-height: 370px;">
                                <a href="#">
                                    <div class="comment-box-item">
                                        <div class="badge badge-pill badge-success">Ubold - Admin</div>
                                        <p class="commnet-item-date">1 month ago</p>
                                        <h6 class="commnet-item-msg">Do you have any plans to add a vertical menu?</h6>
                                        <p class="commnet-item-user">Ubold User</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="comment-box-item">
                                        <div class="badge badge-pill badge-warning">Adminox - Admin</div>
                                        <p class="commnet-item-date">1 month ago</p>
                                        <h6 class="commnet-item-msg">Hello, what is your plan to upgrade Bootstrap 4
                                            versions? Beta or wait for stable?</h6>
                                        <p class="commnet-item-user">Ubold User</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="comment-box-item">
                                        <div class="badge badge-pill badge-primary">Staro - Landing</div>
                                        <p class="commnet-item-date">1 month ago</p>
                                        <h6 class="commnet-item-msg">Hi coderthemes – do you have PSD for this admin UI?
                                            I could really use it.</h6>
                                        <p class="commnet-item-user">Ubold User</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="comment-box-item">
                                        <div class="badge badge-pill badge-dark">Ubold - Admin</div>
                                        <p class="commnet-item-date">1 month ago</p>
                                        <h6 class="commnet-item-msg">Do you have any plans to add a vertical menu?</h6>
                                        <p class="commnet-item-user">Ubold User</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title mb-3">Last Transactions</h4>

                            <ul class="list-unstyled transaction-list slimscroll mb-0" style="max-height: 370px;">
                                <li>
                                    <i class="dripicons-arrow-down text-success"></i>
                                    <span class="tran-text">Advertising</span>
                                    <span class="float-right text-success tran-price">+$230</span>
                                    <span class="float-right text-muted">07/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-up text-danger"></i>
                                    <span class="tran-text">Support licence</span>
                                    <span class="float-right text-danger tran-price">-$965</span>
                                    <span class="float-right text-muted">07/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-down text-success"></i>
                                    <span class="tran-text">Extended licence</span>
                                    <span class="float-right text-success tran-price">+$830</span>
                                    <span class="float-right text-muted">07/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-down text-success"></i>
                                    <span class="tran-text">Advertising</span>
                                    <span class="float-right text-success tran-price">+$230</span>
                                    <span class="float-right text-muted">05/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-up text-danger"></i>
                                    <span class="tran-text">New plugins added</span>
                                    <span class="float-right text-danger tran-price">-$452</span>
                                    <span class="float-right text-muted">05/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-down text-success"></i>
                                    <span class="tran-text">Google Inc.</span>
                                    <span class="float-right text-success tran-price">+$230</span>
                                    <span class="float-right text-muted">04/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-up text-danger"></i>
                                    <span class="tran-text">Facebook Ad</span>
                                    <span class="float-right text-danger tran-price">-$364</span>
                                    <span class="float-right text-muted">03/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-down text-success"></i>
                                    <span class="tran-text">New sale</span>
                                    <span class="float-right text-success tran-price">+$230</span>
                                    <span class="float-right text-muted">03/09/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-down text-success"></i>
                                    <span class="tran-text">Advertising</span>
                                    <span class="float-right text-success tran-price">+$230</span>
                                    <span class="float-right text-muted">29/08/2017</span>
                                    <span class="clearfix"></span>
                                </li>

                                <li>
                                    <i class="dripicons-arrow-up text-danger"></i>
                                    <span class="tran-text">Support licence</span>
                                    <span class="float-right text-danger tran-price">-$854</span>
                                    <span class="float-right text-muted">27/08/2017</span>
                                    <span class="clearfix"></span>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>


            </div> <!-- end container-fluid -->

        </div> <!-- end content -->


        <!-- Footer Start -->

        <!-- Footer Start -->


        {% include 'user/footer.html' %}


        <!-- end Footer -->


        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="mdi mdi-close"></i>
        </a>
        <h5 class="m-0 text-white">Settings</h5>
    </div>
    <div class="slimscroll-menu">
        <hr class="mt-0">
        <h5 class="pl-3">Basic Settings</h5>
        <hr class="mb-0"/>


        <div class="p-3">
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                <label class="custom-control-label" for="customCheck1">Notifications</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                <label class="custom-control-label" for="customCheck2">API Access</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Auto Updates</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                <label class="custom-control-label" for="customCheck4">Online Status</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5">Auto Payout</label>
            </div>
        </div>

        <!-- Messages -->
        <hr class="mt-0"/>
        <h5 class="pl-3 pr-3">Messages <span class="float-right badge badge-pill badge-danger">24</span></h5>
        <hr class="mb-0"/>
        <div class="p-3">
            <div class="inbox-widget">
                <div class="inbox-item">
                    <div class="inbox-item-img"><img src="../../static/adminResources/images/avatar-1.jpg"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Chadengle</a></p>
                    <p class="inbox-item-text">Hey! there I'm available...</p>
                    <p class="inbox-item-date">13:40 PM</p>
                </div>
                <div class="inbox-item">
                    <div class="inbox-item-img"><img src="../../static/adminResources/images/avatar-2.jpg"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Tomaslau</a></p>
                    <p class="inbox-item-text">I've finished it! See you so...</p>
                    <p class="inbox-item-date">13:34 PM</p>
                </div>
                <div class="inbox-item">
                    <div class="inbox-item-img"><img src="../../static/adminResources/images/avatar-3.jpg"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Stillnotdavid</a></p>
                    <p class="inbox-item-text">This theme is awesome!</p>
                    <p class="inbox-item-date">13:17 PM</p>
                </div>

                <div class="inbox-item">
                    <div class="inbox-item-img"><img src="../../static/adminResources/images/avatar-4.jpg"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Kurafire</a></p>
                    <p class="inbox-item-text">Nice to meet you</p>
                    <p class="inbox-item-date">12:20 PM</p>

                </div>
                <div class="inbox-item">
                    <div class="inbox-item-img"><img src="../../static/adminResources/images/avatar-5.jpg"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Shahedk</a></p>
                    <p class="inbox-item-text">Hey! there I'm available...</p>
                    <p class="inbox-item-date">10:15 AM</p>

                </div>
            </div> <!-- end inbox-widget -->
        </div> <!-- end .p-3-->

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="../../static/adminResources/js/vendor.min.js"></script>

<!-- Chart JS -->
<script src="../../static/adminResources/js/Chart.bundle.min.js"></script>

<!-- Init js -->
<script src="../../static/adminResources/js/dashboard.init.js"></script>

<!-- App js -->
<script src="../../static/adminResources/js/app.min.js"></script>

</body>
</html>