<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="/">
                        <i class="fe-airplay"></i>
                        <!--  <span class="badge badge-danger badge-pill float-right">3</span>} -->
                        <span> User Dashboard </span>
                    </a>
                </li>

{#                <li>#}
{#                    <a href="javascript: void(0);">#}
{#                        <i class="fe-box"></i>#}
{#                        <span> Manage Video</span>#}
{#                        <span class="menu-arrow"></span>#}
{#                    </a>#}
{#                    <ul class="nav-second-level" aria-expanded="false">#}
{#                        <li><a href="/user/loadVideo"><i class="fe-plus">&nbsp</i>UploadVideo</a></li>#}
{#                        <li><a href="/user/viewVideo"><i class="fe-plus">&nbsp</i>ViewVideo</a></li>#}
{##}
{#                    </ul>#}
{##}
{#                </li>#}


                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-bar-chart-2"></i>
                        <span>Manage Purchase</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/user/loadPackage"><i class="fe-plus">&nbsp</i>ViewPackage</a></li>
                        <li><a href="/user/viewPurchase"><i class="fe-plus">&nbsp</i>ViewPurchase</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-mail"></i>
                        <span>Manage Complain </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/user/loadComplain"><i class="fe-plus">&nbsp</i>PostComplain</a></li>
                        <li><a href="/user/viewComplain"><i class="fe-plus">&nbsp</i>ViewComplain</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-bar-chart-2"></i>
                        <span>Manage Feedback </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/user/loadFeedback"><i class="fe-plus">&nbsp</i>PostFeedback</a></li>
                        <li><a href="/user/viewFeedback"><i class="fe-plus">&nbsp</i>ViewFeedback</a></li>

                    </ul>
                </li>

                {#                <li>#}
                {#                    <a href="javascript: void(0);">#}
                {#                        <i class="fe-disc"></i>#}
                {#                        <span class="badge badge-warning badge-pill float-right">09</span>#}
                {#                        <span> Forms </span>#}
                {#                    </a>#}
                {#                    <ul class="nav-second-level" aria-expanded="false">#}
                {##}
                {#                        <li><a href="form-elements.html">Form Elements</a></li>#}
                {#                        <li><a href="form-advanced.html">Form Advanced</a></li>#}
                {#                        <li><a href="form-validation.html">Form Validation</a></li>#}
                {#                        <li><a href="form-pickers.html">Form Pickers</a></li>#}
                {#                        <li><a href="form-wizard.html">Form Wizard</a></li>#}
                {#                        <li><a href="form-mask.html">Form Masks</a></li>#}
                {#                        <li><a href="forms-quilljs.html">Quilljs Editor</a></li>#}
                {#                        <li><a href="form-x-editable.html">X Editable</a></li>#}
                {#                        <li><a href="form-uploads.html">Multiple File Upload</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {##}
                {#                <li>#}
                {#                    <a href="javascript: void(0);">#}
                {#                        <i class="fe-layout"></i>#}
                {#                        <span> Tables </span>#}
                {#                        <span class="menu-arrow"></span>#}
                {#                    </a>#}
                {#                    <ul class="nav-second-level" aria-expanded="false">#}
                {#                        <li><a href="tables-basic.html">Basic Tables</a></li>#}
                {#                        <li><a href="tables-datatable.html">Data Tables</a></li>#}
                {#                        <li><a href="tables-responsive.html">Responsive Table</a></li>#}
                {#                        <li><a href="tables-tablesaw.html">Tablesaw Tables</a></li>#}
                {#                        <li><a href="tables-editable.html">Editable Tables</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {##}
                {#                <li class="menu-title mt-2">More</li>#}
                {##}
                {#                <li>#}
                {#                    <a href="javascript: void(0);">#}
                {#                        <i class="fe-map"></i>#}
                {#                        <span> Maps </span>#}
                {#                        <span class="menu-arrow"></span>#}
                {#                    </a>#}
                {#                    <ul class="nav-second-level" aria-expanded="false">#}
                {#                        <li><a href="maps-google.html">Google Maps</a></li>#}
                {#                        <li><a href="maps-vector.html">Vector Maps</a></li>#}
                {#                        <li><a href="maps-mapael.html">Mapael Maps</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {##}
                {##}
                {#                <li>#}
                {#                    <a href="calendar.html">#}
                {#                        <i class="fe-clock"></i>#}
                {#                        <span> Calendar </span>#}
                {#                    </a>#}
                {#                </li>#}
                {##}
                {##}
                {#                <li>#}
                {#                    <a href="javascript: void(0);">#}
                {#                        <i class="fe-book-open"></i>#}
                {#                        <span> Pages </span>#}
                {#                        <span class="menu-arrow"></span>#}
                {#                    </a>#}
                {#                    <ul class="nav-second-level" aria-expanded="false">#}
                {##}
                {#                        <li><a href="pages-starter.html">Starter Page</a></li>#}
                {#                        <li><a href="pages-login.html">Login</a></li>#}
                {#                        <li><a href="pages-register.html">Register</a></li>#}
                {#                        <li><a href="pages-logout.html">Logout</a></li>#}
                {#                        <li><a href="pages-recoverpw.html">Recover Password</a></li>#}
                {#                        <li><a href="pages-lock-screen.html">Lock Screen</a></li>#}
                {#                        <li><a href="pages-confirm-mail.html">Confirm Mail</a></li>#}
                {#                        <li><a href="pages-404.html">Error 404</a></li>#}
                {#                        <li><a href="pages-404-alt.html">Error 404-alt</a></li>#}
                {#                        <li><a href="pages-500.html">Error 500</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {##}
                {#                <li>#}
                {#                    <a href="javascript: void(0);">#}
                {#                        <i class="fe-plus-square"></i>#}
                {#                        <span class="badge badge-success badge-pill float-right">Hot</span>#}
                {#                        <span> Extra Pages </span>#}
                {#                    </a>#}
                {#                    <ul class="nav-second-level" aria-expanded="false">#}
                {#                        <li><a href="extras-timeline.html">Timeline</a></li>#}
                {#                        <li><a href="extras-invoice.html">Invoice</a></li>#}
                {#                        <li><a href="extras-faq.html">FAQ</a></li>#}
                {#                        <li><a href="extras-pricing.html">Pricing</a></li>#}
                {#                        <li><a href="extras-email-template.html">Email Templates</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {##}
                {#                <li>#}
                {#                    <a href="javascript: void(0);">#}
                {#                        <i class="fe-share-2"></i>#}
                {#                        <span> Multi Level </span>#}
                {#                        <span class="menu-arrow"></span>#}
                {#                    </a>#}
                {#                    <ul class="nav-second-level nav" aria-expanded="false">#}
                {#                        <li>#}
                {#                            <a href="javascript: void(0);">Level 1.1</a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="javascript: void(0);" aria-expanded="false">Level 1.2#}
                {#                                <span class="menu-arrow"></span>#}
                {#                            </a>#}
                {#                            <ul class="nav-third-level nav" aria-expanded="false">#}
                {#                                <li>#}
                {#                                    <a href="javascript: void(0);">Level 2.1</a>#}
                {#                                </li>#}
                {#                                <li>#}
                {#                                    <a href="javascript: void(0);">Level 2.2</a>#}
                {#                                </li>#}
                {#                            </ul>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </li>#}
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
